<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Aplikasi untuk Journal - umum">
  <title>Aplikasi Jurnal Umum</title>

  <link rel="stylesheet" href="css/pure-min.css">



  <!--[if lte IE 8]>
            <link rel="stylesheet" href="css/layouts/email-old-ie.css">
        <![endif]-->
  <!--[if gt IE 8]><!-->
  <link rel="stylesheet" href="css/layouts/email.css">
  <!--<![endif]-->
</head>


<body>
  <style>
    [v-cloak]>* {
      display: none
    }

    [v-cloak]::before {
      content: "loading…"
    }
  </style>
  <script src="js/vue.js "></script>


  <div id="layout" class="content pure-g" v-cloak>
    <div id="nav" class="pure-u">
      <a href="#" class="nav-menu-button">Menu</a>

      <div class="nav-inner">
        <button class="primary-button pure-button">Menu</button>
        <div class="pure-menu">
          <ul class="pure-menu-list">
            <li class="pure-menu-item">
              <li class="pure-menu-item">
                <a href="./index.html" class="pure-menu-link">
                  <span class="email-label-personal"></span>Aplikasi</a>
              </li>
              <li class="pure-menu-item">
                <a href="./sliding.html" class="pure-menu-link">
                  <span class="email-label-work"></span>About</a>
              </li>
          </ul>
        </div>
      </div>
    </div>

    <div id="list" class="pure-u-1">

      <div class="email-item pure-g">
        <div class="pure-u-3-4">
          <h4 class="email-subject" style="font-size: 12px; color: gray;">Tugas Analisa Proses Bisnis</h4>
          <p class="email-desc">
            <span style="font-weight: bolder;">A</span>plikasi Jurnal Umum merupakan Aplikasi yang digunakan dalam melakukan proses Akutansi yang mencatat transaksi harian yang
            dilakukan untuk dimasukan ke dalam jurnal Umum.
          </p>

          <br>

          <p class="email-desc">
            Dibuat Oleh:
            <b>Haris Sucipto (1503123272)</b>
          </p>

        </div>
      </div>
      <div class="email-content-body">
        <form class="pure-form pure-form-stacked" style="font-size: 12px;">
          <fieldset>
            <legend>
              <b style="text-decoration-style: underline;">Tambah Data Transaksi</b>
            </legend>


            <label for="tanggal">Tanggal Transaksi:</label>
            <input v-model="newTanggal" type="date">

            <label for="tanggal">Ref:</label>
            <input v-model="newRef">

            <label for="tanggal">Jenis Debet:</label>
            <input v-model="newDebet">

            <label for="tanggal">Nominal Debet:</label>
            <input type="number" v-model="newNominalDebet">

            <label for="tanggal">Jenis Kredit:</label>
            <input v-model="newKredit">

            <label for="tanggal">Nominal Kredit:</label>
            <input v-model="newNominalKredit" type="number">

            <br>
            <button class="pure-button pure-button-primary" @click.prevent="tambahData">Tambah Data Transaksi</button>
          </fieldset>
        </form>
      </div>
    </div>

    <div id="main" class="pure-u-1">
      <div class="email-content">
        <div class="email-content-header pure-g">
          <div class="pure-u-1-2">
            <h1 class="email-content-title">Aplikasi Jurnal Umum</h1>
          </div>

          <div class="email-content-controls pure-u-1-2">

            <a href="#l">
              <button class="secondary-button pure-button">Ubah Judul</button>
            </a>
          </div>
        </div>

        <div class="email-content-body">
          <div>
            <table class="pure-table" style="font-size: 14px;" v-if="jurnal.length">
              <thead style="text-align: center;">
                <tr>
                  <th rowspan="2">
                    No
                  </th>
                  <th rowspan="2">
                    Tanggal
                  </th>
                  <th rowspan="2">
                    Ref
                  </th>
                  <th rowspan="2">
                    Keterangan
                  </th>
                  <th colspan="2">
                    Saldo
                  </th>
                  <th rowspan="2">Aksi</th>
                </tr>
                <tr>
                  <th>
                    Debet
                  </th>
                  <th>
                    Kredit
                  </th>
                </tr>

              </thead>


              <tbody>
                <tr v-for="(data, index) in jurnal">
                  <td style="text-align: center;">
                    {{ index + 1 }}
                  </td>
                  <td>
                    {{ data.tanggal }}
                  </td>
                  <td>
                    {{ data.ref }}
                  </td>
                  <td>
                    <table>
                      <tr>
                        <td>
                          {{ data.debet }}
                        </td>
                      </tr>
                      <tr>
                        <td>
                          {{ data.kredit }}
                        </td>
                      </tr>
                    </table>
                  </td>
                  <td>
                    <table>
                      <tr>
                        <td>
                          {{ data.nominalDebet | keRupiah}}
                        </td>
                      </tr>
                      <tr>
                        <td style="text-align: center">
                          -
                        </td>
                      </tr>
                    </table>
                  </td>
                  <td>
                    <table>
                      <tr>
                        <td style="text-align: center">
                          -
                        </td>
                      </tr>
                      <tr>
                        <td>
                          {{ data.nominalKredit | keRupiah}}
                        </td>
                      </tr>
                    </table>
                  </td>
                  <td>
                    <button @click="hapus(index)">HAPUS</button>
                  </td>
                </tr>
              </tbody>
              <thead>
                <tr>
                  <th colspan="4">
                    Total
                  </th>

                  <th>
                    {{ totalDebet | keRupiah}}
                  </th>
                  <th colspan="2">
                    {{ totalKredit | keRupiah }}
                  </th>
                </tr>
              </thead>

            </table>
            <div v-else style="text-align: center;">
              <br>
              <br>
              <h4> ~Belum Ada Data, Silahkan Input Data~ </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="app.js"></script>

</body>

</html>